<!DOCTYPE html>
<html>
    <head>
        <title>Is It Phishy?</title>
        <style>
            body {
                background-color: #222222; }
            div {
                position:fixed;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%); }
            span {
                position:fixed;
                top:55%;
                left:55%;
                transform:translate(-50%,-50%);}
        </style>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="" method="post">
            {{ form.csrf }}

            <div class="input text">
                {{ form.name.label }} {{ form.name }}
            </div>

            <span class="input submit">
                <input type="submit" value="Submit" />
            </span>
        </form>
    </body>
</html>
